.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(255, 7, 7);
}
.note{
    font-size: 15px;
    color: blue;
}
.copyrightfooter{
    position: fixed;
    color: darkorange;
    bottom: 0;
    width: 100%;
    background-color: khaki;
    line-height: 3;
    text-align: center;
}
canvas{
    border: 5px solid darkred;
    border-radius: 20px;
    box-shadow: 3px 5px 20px ghostwhite;
}